{% extends "base.html" %}
{% block current_app_content %}
    <h1>香港電腦通訊節 2019 最強掃貨攻略</h1>
    <br>
    <img src="{{ url_for('static', filename='pcf2019.png') }}">
    <br>
    <h3><a><font color="#000000">ASUS「華碩電腦Chill狂賞2019」
由即日起至 9 月 15日 的「華碩電腦Chill狂賞2019」，華碩會以瘋狂優惠回饋粉絲支持，精選筆記型電腦產品激減多達 $5,000！購買各款 ZenBook、VivoBook 及 ROG 系列筆記型電腦及桌上型電腦，均額外附送限定狂賞禮品套裝，總值超過300 萬港元！狂減優惠及套裝內容相當豐富，詳情請到各大電腦商場及連鎖電器店查詢。贈品數量有限，送完即止。
    </font></a>
        <img src="{{ url_for('static', filename='pcf20191.png') }}">
        <br>
        <br>
        <a><font color="#000000">ASUS人性化對稱設計電競滑鼠
Cerberus Mouse 電競滑鼠採用雙手通用的對稱流線型設計，無論左手或右手都可輕鬆控制。除了可以即時切換 D P I按鈕，更搭配 4 段可調 DPI 靈敏度和 LED 背光，使遊戲體驗更佳。

建議零售價：$195
會場激安價：$99

查詢︰3582 4770
Facebook︰ASUS（HK）
Instagram︰ASUS_HK
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}