{% extends "base.html" %}
{% block current_app_content %}
    <h1>【CuMask 實試】銅芯口罩實物試戴！「政府口罩」布料舒適但不夠貼臉下巴位可攝入手指？（有片睇）</h1>
    <br>
    <img src="{{ url_for('static', filename='ccmask.jpg') }}">
    <br>
    <h3><a><font color="#000000">特首林鄭月娥今日宣佈，政府將會全民派發可清洗重用 60 次的「銅芯抗疫口罩 CuMask」，5 月 6 日早上 7 時起可以登記【登記教學】，無論香港永久居民或非永久居民都可以登記領取，並由郵差派送上門。政府率先向傳媒派發 CuMask 口罩，記者就決定為大家實測，究竟 6 層的布口罩上臉效果又是如何？</font></a><br>
        <br>
        <li>「銅芯抗疫口罩 CuMask」5 月 6 日早上 7 時起可以登記</li>
        <li>記者實測，發現 6 層的 CuMask 透氣度比想象中好，面料亦十分柔軟</li>
        <li>然而 CuMask 剪裁不夠貼臉，下巴的部分尤其明顯</li>
        <br>
        <a><font color="#000000">CuMask 共有 6 層，由針織、梭織及不織布組成。最外層的布料由氧化銅加綿組成，能阻止飛沫、處理大的飛沫。中間則是 4 層不織布濾芯，包括兩層保護過濾層的支撐層；由微銅做成的不織布抗菌層，能抑制病毒、細菌；之後就是能阻擋大部分微利、細菌及飛沫的過濾層。最後一層，就是貼臉的柔軟内層，能處理溫度、濕度以及舒適度，保持用家皮膚乾爽。
            <br>
            <a><font color="#000000"></font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}