{% extends "base.html" %}
{% block current_app_content %}
    <h1>【全城防疫】實測科大「智能發燒偵測系統」 口面全遮都認到</h1>
    <br>
    <img src="{{ url_for('static', filename='fever.jpg') }}">
    <br>
    <h3><a><font color="#000000">新冠肺炎（Covid-19）疫情持續，香港最近不少確診個案，都是從外地輸入，如何有效把關， 可說是防疫關鍵之一。早前香港科技大學便研發了「智能發燒偵測系統（SFSS）」，不但辨識能力超強，而且能同時檢測最多 100 名、最遠 10 米外的途經人士是否發燒。</font></a><br>
        <br>
        <li>香港科技大學研發了「智能發燒偵測系統（SFSS）」</li>
        <li>系統進行了「視覺還原」，即使圖像不完整或部分被遮蔽，系統仍能「看出」正確完整的圖像</li>
        <li>系統可同時檢測最多 100 名、最遠 10 米外的途經人士是否發燒</li>
        <br>
        <a><font color="#000000">現時世界各地的關口，主要都是使用熱成 (thermal) 圖像探測器，找出疑似發燒人士。由科大工業工程及決策分析學系蘇孝宇教授領導的跨領域研究團隊，利用人工智能、實時追踪以及大數據分析，設計出這個「智能發燒偵測系統」。
            <br>
            <a><font color="#000000">蘇教授表示，其實一直從事相關方面的研究，後來疫情出現，再按機電署的要求，設計出這個系統，所以並非由零開始， 在 1 月下旬，已經在機場、港澳碼頭、西九高鐵站及多個陸路口岸使用。</font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}