{% extends "base.html" %}
{% block current_app_content %}
    <h1>KIA Soul EV+ Platinum 天窗版試駕 Sharp 醒車燈＋駕駛感【試車二人前】</h1>
    <br>
    <img src="{{ url_for('static', filename='greencar.jpg') }}">
    <br>
    <h3><a><font color="#000000">在電動車的世界中，畢竟有 Tesla 的高科技及「BBA」（Mercedes-Benz、BMW 及 Audi）的品牌效應在前，韓國代表之一 KIA 的出品，或者不會是大家的首選。之不過，如果大家想找尋相對平價得來，外形及駕駛感都夠 sharp 的電動車款，KIA Soul EV+ Platinum 天窗版 SUV 可能是心水車型之一的。今回試車二人前續有記者 Kay 及阿七的試車報告分享的。</font></a><br>
        <br>
        <li>KIA Soul EV+ Platinum 試駕報告全分享</li>
        <li>觀感、駕駛感夠 Sharp 醒</li>
        <li>「一換一」車價 HK$40 萬有找</li>
        <br>
        <a><font color="#000000">
            <br>
            <a><font color="#000000"></font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}