{% extends "base.html" %}
{% block current_app_content %}
    <h1>YouTube 免費播美少女戰士 一口氣連播 3 季</h1>
    <br>
    <img src="{{ url_for('static', filename='sailormoon.jpg') }}">
    <br>
    <h3><a><font color="#000000">新冠肺炎疫情期間，多國也呼籲「Stay Home, Stay Safe」，宅在家防疫。繼早前有百老匯舞台劇、HBO 電影頻道免費播後，今次就有大人細路都啱睇的《美少女戰士》，在 YouTube 頻道免費播，而且更會一口氣連播 3 季，係美少女戰士粉絲的你，就不容錯過了！。</font></a><br>
        <br>
        <li>《美少女戰士》將在 YouTube 頻道免費播</li>
        <li>分別播放《美少女戰士》、《美少女戰士 R》及《美少女戰士 S》</li>
        <li>播放日期由 4 月 24 日開始</li>
        <br>
        <a><font color="#000000">是次所播放的 3 季美少女戰士，分別是：《美少女戰士》、《美少女戰士 R》及《美少女戰士 S》，預定每周播出 10 集，並由 4 月 24 日（星期五）開始播放，直至 7 月 23 日（星期四）。
            <br>
            <a><font color="#000000">留意因為版權問題，香港地區有可能無法收看，而且不提供中文字幕，想收看就要使用ＶＰＮ軟件，更要有一定日語能力。</font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}