{% extends "base.html" %}
{% block current_app_content %}
    <h1>SPT Mask 國藥科技口罩試產 走進無塵車間直擊一個口罩的誕生</h1>
    <br>
    <img src="{{ url_for('static', filename='sptmask.jpg') }}">
    <br>
    <h3><a><font color="#000000">新冠肺炎疫情持續，近兩、三個月，香港的口罩廠持續增價，不過大部份似乎仍處於籌備階段。當中國藥科技是其中一間較早決自行生產口罩的上巿公司，旗下的 SPT Mask 經過近兩個月時計劃及籌備，生產口罩的機器及原料已先後分批到港，現時亦開始試產。</font></a><br>
        <br>
        <li>考慮到成本及禁運等問題，國藥科技決定自設廠方生產口罩</li>
        <li>生產口罩需考量原料供應、布料的質量、船運、購買製作口罩的機械、無塵車間廠房、通過各種測試、招聘員工等</li>
        <li>SPT Mask 暫時香港會先有 4 條生產線，長遠目標希望達 40 條以上</li>
        <br>
        <a><font color="#000000">新冠肺炎疫情爆發以來，全球口罩等醫療物資供應緊張。國藥科技股份有限公司集團行政總裁陳霆憶述：
            <br>
            <a><font color="#000000">「一個 4 層口罩，年初是大概售 2 至 3 毫，但疫情擴散後，日本一廠商，將口罩價格提高至 15 港元一個。考慮採購成本高得太誇，便決定自行生產口罩。隨後又因各國都有禁運物資情況，盡管香港的租金和工資相對高昂，我們還是覺得需要在香港本地設廠。」</font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}