{% extends "base.html" %}
{% block current_app_content %}
    <h1>VMware：加速改造應用 K8s 普及在望</h1>
    <br>
    <img src="../../../static/vm.png">
    <br><h3>
    <a><font color="#000000">數碼轉型已席捲全球，VMware 香港及澳門總經理藍建基指出，特別在新冠肺炎疫情下網上服務推出時間更急。
        在這情況下原生雲（Native Cloud）也能配合而生。隨著全球原生雲市場不斷成長，
        Gartner 也預計 K8s 會用於 80% 的雲端平台中。他指出 VMware 是目前全球第二大的 K8s 技術貢獻機構，地位僅次於 Google</font></a>。
    <br>
    <br>
    <li>預計 K8s 雲端普及率達 8 成</li>
    <li>本地面對相關人才不足</li>
    <br>
    <a><font color="#000000">就以本地市場為例，就如金融業開始面對虛擬銀行崛起的壓力，當有數碼化平台進步時，K8s 管理平台自然會大派用場，
        壓縮新服務的開發與推出時間。在香港市場早前已有一間珠寶公司，以 K8s 管理自身的電子商貿平台，特別在大時大節的網購高峰期，藉此擴建運算容量。
        <br>
        <br>
        藍建基認為， DevOps 文化可令服務盡快推出，但本地卻面對相關人才不足的問題，這方面需時間追上，也令現時容器相關開發的工序，需要交由外判方式處理。目前 VMware
        也在多個平台服務上，配合應用程式現代化改造而行。</font></a>
    <br><br>
    <a href="{{ url_for('main.covid') }}"><font color="#9966ff">{{ _('【相關報道】不受新冠肺炎疫情影響 高通：5G發布如常') }}</font></a>
    <br>
    <a href="{{ url_for('main.wifi') }}"><font color="#9966ff">{{ _('【相關報道】Wi-Fi 6E登場 增1.2 GHz可用頻寬') }}</font></a></h3>
{% endblock %}