{% extends "base.html" %}
{% block current_app_content %}
    <h1>一次睇盡歷代「新世紀福音戰士 x UCC」牛奶咖啡罐</h1>
    <br>
    <img src="{{ url_for('static', filename='ucc.jpg') }}">
    <br>
    <h3><a><font color="#000000">「新世紀福音戰士」與 UCC 這對老拍檔又出手，今次 UCC（EVA2020）版本罐裝牛奶咖啡發售活動，將展開至 7 月 19 日。期間可透過罐上的貼標序列號碼參加抽獎，有機會得到折疊式儲物箱，T 恤和收集歷代 EVA 版罐身插畫的圖集。同時，UCC 亦在網頁（www.ucc.co.jp/milk-coffee/evacp）設立「歷代 Eva Can Museum」專版【按此】，與大家一起回顧自 1997 年以來的「新世紀福音戰士」系列 UCC 牛奶咖啡罐的設計。</font></a><br>
        <br>
        <br>
        <p align="center"><img src="{{ url_for('static', filename='ucc2.jpg') }}"></p>
        <br>
        <p align="center"><img src="{{ url_for('static', filename='ucc3.jpg') }}"></p>
        <br>
        <a><font color="#000000">大獎儲存箱最好用來放好歷代咖啡罐。</font></a><br>

        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}