{% extends "base.html" %}
{% block current_app_content %}
    <h1>「Sumikko Gurashi 角落小夥伴 Tote Bag 連索繩小物袋」4 月 27 日《e-zone》別注版 1133 期</h1>
    <br>
    <img src="{{ url_for('static', filename='sg1.jpg') }}">
    <br>
    <h3><p align="center"><a><font color="#000000">日本療癒系的角落小夥伴聯乘《e-zone》，於別注版首次推出「Sumikko Gurashi 角落小夥伴 Tote Bag
        連索繩小物袋」。一款是大大隻炸豬排與炸蝦尾 Tote Bag 配藍色的蜥蜴小物袋；另一款更是必搶款系列，眾角色聚首一堂配可愛炸蝦尾小物袋。任何一款都定必令 Fans 尖叫！Tote Bag
        容量特大，再加上小物袋可放濕紙巾、唇膏、鎖匙等隨身物，可愛又實用，立即通知 Fans 搶購啦！
    </font></a></p><br>
        <br>
        <p align="center">
            <img src="{{ url_for('static', filename='sg2.jpg') }}">
            <br>
            <br>
            <img src="{{ url_for('static', filename='sg3.jpg') }}">
            <br>
            <br>
            <img src="{{ url_for('static', filename='sg4.jpg') }}">
            <br>
            <br>
            <img src="{{ url_for('static', filename='sg5.jpg') }}">
            <br>
            <br>
            <img src="{{ url_for('static', filename='sg6.jpg') }}">
            <br>
            <br>
            <img src="{{ url_for('static', filename='sg7.jpg') }}">
            <br>
            <br>
        </p>
        <p align="center">
            <a><font color="#000000">4 月 27 日 - 1133 期《e-zone》別注版
                <br>
                <br>
                <a><font color="#000000">+</font></a>
                <br>
                <br>
                <a><font color="#000000">「Sumikko Gurashi 角落小夥伴 Tote Bag 連索繩小物袋」</font></a>
                <br>
                <a><font color="#000000">只售：$75</font></a>
                <br>
                <br>
                <a><font color="#000000">普通版《e-zone》仍售 $20</font></a>
                <br>
                <a><font color="#000000">香港各大報攤及便利店有售 (澳門 4 月 28 日)</font></a>
                <br>
                <br>
            </font></a>
        </p>
        <p align="center"><img src="{{ url_for('static', filename='sg8.jpg') }}"></p>
        <br>
        <br>
        <p align="center">
            <a><font color="#000000"><b>溫馨提示：</b></font></a>
            <br> <br>
            <a><font color="#000000">-
                首次清洗：如需清洗，第一次清洗時需要特殊處理一下，以為了延長帆布袋的使用壽命，需要先在水裏加少量鹽，讓它充分溶解在水裏面，然後再把帆布袋浸泡在水中半個小時，這樣處理的好處就是有效仿製帆布袋褪色。
                <br>
                <br>
                <a><font color="#000000">- 水溫要求：帆布袋是由優質帆布製成的，所以在洗的時候水的溫度不能過高，水溫過高就會像毛巾一樣軟化，導致外型的輕微變形或者鬆散，最好能將水溫控制在 30
                    度以下為佳。</font></a>
                <br>
                <br>
                <a><font color="#000000">-
                    清洗方法：切勿為了省事放進洗衣機和其他衣服一起洗，帆布包是由帆布製成的，所以也非常容易吸色，如果其他衣服掉色的話就會影響到帆布袋本身顏色，這樣以來就會造成二次污染，儘量不要為了省事而將帆布袋和衣服混洗。
                </font></a>
                <br>
                <br>
                <a><font color="#000000">-
                    清洗劑的選用：帆布一般都會出現輕微褪色現象，所以在清洗的時候需要特別注意化學洗劑的種類和用量，一般不要使用含有漂白功能或者熒光的清洗劑，在使用的時候一定要注意查看產品包裝上的說明。如果不是油漬或者墨水污漬就需要盡少的控制用量，以將褪色情況減少到最小程度。
                </font></a>
                <br>
                <br>
                <a><font color="#000000">- 晾曬：帆布袋切忌在太陽下暴曬，這樣水分快速蒸發後會留下痕跡導致發黃，所以在用清水清洗以後最好就是放在陰涼的地方風乾。
                </font></a>
                <br>
                <br>
            </font></a></p>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3></p>
{% endblock %}