{% extends "base.html" %}
{% block current_app_content %}
    <h1>【7-11 印花】7-Eleven x 迪士尼推 8 款奇幻玻璃瓶 Forzen．米奇玻璃碗連竹蓋換購攻略</h1>
    <br>
    <img src="{{ url_for('static', filename='mike.jpg') }}">
    <br>
    <h3><a><font color="#000000">7-Eleven 便利店又有新嘢換！今次 7-Eleven 聯同迪士尼推出 3 個卡通系列，將會推出奇幻玻璃瓶連竹蓋，分別有米奇與朋友系列、公主系列以及特別版，全套共有 8 款不同卡通。碗上的卡通角色以水彩繪畫在晶瑩剔透的玻璃上，而竹蓋上更印有相對應的卡通角色，非常可愛，迪士尼迷絕對不能錯過！
    </font></a>
        <br>
        <br>
        <li>7-Eleven 便利店再有新嘢換</li>
        <li>全套 8 款的迪士尼奇幻玻璃瓶連竹蓋</li>
        <li>5 月 13 日起開始派發印花</li>
        <br>
        <a><font color="#000000">這款印有迪士尼卡通人物的奇幻玻璃瓶連竹蓋容量約 380 毫升，以闊口設計，使用耐熱的硼硅玻璃製成，可以將玻璃瓶連食物放進微波爐內加熱，亦可蓋上竹蓋，將食物放進雪櫃方便保存。而且玻璃瓶的透明度高，用於拍照「呃like」一流！除了可以用於盛戴食物外，還可以當作收納盒，擺於細小的東西。同時，奇幻玻璃瓶已通過歐盟和美國 FDA 對食物接觸容器的要求，可以安心擺放食物。需注意，產品的耐受溫度由 0°C 至 100°C，只可手洗，不能用於於洗碗碟機、焗爐及明火烘烤。
            <br>
            <a><font color="#000000">大家可以在 5 月 13 日早上 7 時起至 6 月 23 日於 7-Eleven 分店購物滿 $20 獲得 1 個印花，其後每 $10 可獲多 1 個印花，如此類推。而換購日期則由 5 月 13 日早上 7 時至 6 月26 日，5 個印花另加 $35，可以隨機換購「玻璃碗連竹蓋」 1 套；8 個印花另加 $55 則可隨機換購「玻璃碗連竹蓋」2 套。</font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}