{% extends "base.html" %}
{% block current_app_content %}
    <h1>香港首間 Dyson 旗艦體驗店率先睇！ 特設 AirWrap 收納盒「印名」服務</h1>
    <br>
    <img src="{{ url_for('static', filename='dyson.jpg') }}">
    <br>
    <h3><a><font color="#000000">Dyson 吸塵機、風筒等，都受不少港人歡迎，但香港一直未有一家旗艦專門店，直至近日，Dyson 終於宣布將於 5 月 8 日在圓方（Elements）開設首間旗艦體驗店。大家可以於店內親身體驗 Dyson 推出的所有產品，如果大家在旗艦體驗店內購買 Dyson 髮型造型器 Airwrap 的話，更可享有全港獨家的個人化服務，在造型器的收納盒上印上名字縮寫，送禮最適合。
    </font></a>
        <br>
        <br>
        <li>Dyson 全港首間旗艦體驗店搶先睇</li>
        <li>顧客可親身體驗各款 Dyson 產品</li>
        <li>設有全港獨家於 Airwrap 收納盒上印上名字縮寫的服務</li>
        <br>
        <img src="{{ url_for('static', filename='dyson2.jpg') }}">
        <br>
        <a><font color="#000000">相信大家最熟悉的都是 Dyson 的不同型號吸塵機，而在旗艦店內，吸塵機體驗區內設有三款不同質地的地板，同時設有全亞洲首個模擬不同大小灰塵的機器，機器會倒出不同大小的灰塵微粒，讓顧客倒在不同質地的地板上，測試各款吸塵機，務求讓大家可以買到一個最適合自己家中使用的吸塵機。
        </font></a>
            <br>
            <a><font color="#000000">【INFO】Dyson 旗艦體驗店
                <br>
                地址：九龍尖沙咀柯士甸道 1 號 Elements 商場的木區的 1093 號
                <br>
                營業時間：11:00 a.m - 8:00 p.m.
                <br>
                開幕日期：5 月 8 日（5 月 6 日試業）<br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}