{% extends "base.html" %}
{% block current_app_content %}
    <h1>【阿妹睇晒】網民宅在房間睇 AV 出「意外」！誤將聲畫投放至客廳電視</h1>
    <br>
    <img src="{{ url_for('static', filename='no18.jpg') }}">
    <br>
    <h3><a><font color="#000000">日本緊急事態延長至本月底，日本國民當然是留守家中防疫。而這位日本網民在家防疫時，想利用手機睇 AV 舒壓，結果竟發生放送事故，讓家中的媽媽、家姐、細妹一同觀賞，及後樓主將事件 post 上 Twitter 之中，遭網民們 RT 瘋傳。</font></a>
        <br>
        <br>
        <li>網民宅在家睇 AV</li>
        <li>結果錯誤投放至家中客廳電視</li>
        <li>而客廳則坐著媽媽、家姐及細妹</li>
        <br>
        <img src="{{ url_for('static', filename='no18.jpg') }}">
        <br>
        <a><font color="#000000">樓主表示自己在房中連接 AirPods 觀看 AV 電影，卻發現耳機沒有聲音，此時卻發現原來自己開啟了螢幕投放功能，於是衝出客廳，卻為時已晚，只見客廳的電視已播放著 AV，而客廳則坐著媽媽、家姐及細妹。樓主將此事分享至 Twitter，叫大家一同小心，之不過網民們卻錯重點想知樓主正在觀看哪一位 AV 女優，原來是涼森れむ。
        </font></a>
            <br>
            <img src="{{ url_for('static', filename='no18.jpg') }}">
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}