{% extends "base.html" %}
{% block current_app_content %}
    <h1>奇招自製開窿口罩 美國大媽稱「更易呼吸」</h1>
    <br>
    <img src="{{ url_for('static', filename='omask.jpg') }}">
    <br>
    <h3><a><font color="#000000">新冠肺炎疫情持續，佩載口罩已變生活日常，好些美國民眾亦開始接受戴口罩。不過近日美國一位中年女子，到雜貨店購物時，雖然有戴口罩，但口罩中間卻剪出一個大洞，女子解釋「這比較容易呼吸」。
    </font></a>
        <br>
        <br>
        <br>
        <a><font color="#000000">據外國媒體報道，早前肯塔基州雜貨店經理 Joe Samaan 工作時，遇到這名奇怪顧客。雖然女顧客有戴口罩，但口罩中間開了一個洞，露出了口鼻。 Joe Samaan 拍下影片，問這口罩如何得來。女子回答：「因為我們要戴口罩，很難呼吸，（剪開它）這就更易呼吸了。」
        </font></a>
            <br>
            <a><font color="#000000">這個回覆嚇呆了 Joe，反問︰「剪開它？」女子點頭後，Joe 唯有不置可否表示「謝謝你的建議」，之後女子便離開。及後影片在互聯網流傳，不少網民都嘲笑該婦人無知。
                <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font
                color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}