{% extends "base.html" %}
{% block current_app_content %}
    <h1>部分遊戲免費升級 PS5傳6月開始預訂</h1>
    <br>
    <img src="{{ url_for('static', filename='ps5.jpg') }}">
    <br>
    <h3><a><font color="#000000">SONY在CES 2020期間公開了PS5的標籤後，斷續公開片面硬件功能，期間殺出新冠病毒疫情，進一步打亂了廠商原定的發表計劃，近日網上有人爆料，聲稱ＳＯＮＹ最快會在６月展開主機預訂，以及多款支援免費升級的遊戲。</font></a><br>
        <br>
        <li>PS5傳6月開始預訂</li>
        <li>部分遊戲可兌換升級</li>
        <li>部分遊戲支援加速模式</li>
        <br>
        <a><font color="#000000">Playstation 5公布的消息尚不完整，只知道部分硬件功能，專用遊戲及支援的遊戲消息也未有官方發表。
            <br>
            <a><font color="#000000">在XBOX ONE Series X日前公開首批遊戲後，網上就有人爆料，指PS5會在6月初發表，並將開始預訂，以及在１１月中的消費旺季前上市，更指出主機售價會在USD499的水平(現有PS4 PRO為USD399)。</font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}