{% extends "base.html" %}
{% block current_app_content %}
    <h1>一次睇盡歷代「新世紀福音戰士 x UCC」牛奶咖啡罐</h1>
    <br>
    <img src="{{ url_for('static', filename='tokyohot.jpg') }}">
    <br>
    <h3><a><font color="#000000">「新世紀福音戰士」與 UCC 這對老拍檔又出手，今次 UCC（EVA2020）版本罐裝牛奶咖啡發售活動，將展開至 7 月 19 日。期間可透過罐上的貼標序列號碼參加抽獎，有機會得到折疊式儲物箱，T 恤和收集歷代 EVA 版罐身插畫的圖集。同時，UCC 亦在網頁（www.ucc.co.jp/milk-coffee/evacp）設立「歷代 Eva Can Museum」專版【按此】，與大家一起回顧自 1997 年以來的「新世紀福音戰士」系列 UCC 牛奶咖啡罐的設計。</font></a><br>
        <br>
        <li>《美少女戰士》將在 YouTube 頻道免費播</li>
        <li>分別播放《美少女戰士》、《美少女戰士 R》及《美少女戰士 S》</li>
        <li>播放日期由 4 月 24 日開始</li>
        <br>
        <a><font color="#000000">是次所播放的 3 季美少女戰士，分別是：《美少女戰士》、《美少女戰士 R》及《美少女戰士 S》，預定每周播出 10 集，並由 4 月 24 日（星期五）開始播放，直至 7 月 23 日（星期四）。
            <br>
            <a><font color="#000000">留意因為版權問題，香港地區有可能無法收看，而且不提供中文字幕，想收看就要使用ＶＰＮ軟件，更要有一定日語能力。</font></a>
            <br>
        </font></a>
        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}