{% extends "base.html" %}
{% block current_app_content %}
    <h1>不受新冠肺炎疫情影響 高通：5G發布如常 </h1>
    <br>
    <img src="../../../static/covid.jpg">
    <br><h3>
    <a><font color="#000000">在 5G 設備陸續發布下，高通（Qualcomm）預計在 2020 年內每塊晶片的利潤可大幅上升。該公司預計，2020 年度內 5G 手機出貨量可達最多 2.25 億部，更認為就算新冠肺炎疫情持續，也不會減慢主要地區的 5G 建網與裝置發布速度。</font></a>。
        <br>
        <br>
        <li>預計 5G 手機出貨可達 2.25 億部</li>
        <li>第 2 季營運收入達 52.06 億美元</li>
        <br>
    <a><font color="#000000">雖然 5G 加速新產品流通，但高通估計今年第 2 季最終手機需求量，會較原先估計減少 21%。該公司公布 2020 年第 2 季營運收入達 52.06 億美元，比上年增加 7%，有分析機構認為今年該公司的業績最終會下跌 7.8%，但考慮到新冠肺炎疫情對全球經濟衝擊巨大，這已是不俗成績，而高通在美國上市的股價也創下 1 個月以來新高。
        <br>
        <br>
    </font></a>
    <br><br>
    <a href="{{ url_for('main.vm') }}"><font color="#9966ff">{{ _('【相關報道】VMware：加速改造應用 K8s 普及在望') }}</font></a>
    <br>
    <a href="{{ url_for('main.wifi') }}"><font color="#9966ff">{{ _('【相關報道】Wi-Fi 6E登場 增1.2 GHz可用頻寬') }}</font></a></h3>
{% endblock %}