{% extends "base.html" %}
{% block current_app_content %}
    <h1>IT Time</h1>
    <ul>
        <h3>
            <li>
                <a href="{{ url_for('main.vm') }}"> <img src="../../../static/vm.png"
                width="300" height="200"><font color="#000000">{{ _('VMware：加速改造應用 K8s 普及在望 ') }}</font></a>
            </li>
                <br>
            <li>
                <a href="{{ url_for('main.wifi') }}"><img src="../../../static/wifi.jpg"
                width="300" height="200"><font color="#000000">{{ _('Wi-Fi 6E登場 增1.2 GHz可用頻寬 ') }}</font></a>
            </li>
                <br>
            <li>
                <a href="{{ url_for('main.covid') }}"><img src="../../../static/covid.jpg"
                width="300" height="200"><font color="#000000">{{ _('不受新冠肺炎疫情影響 高通：5G發布如常 ') }}</font></a>
            </li>
                <br>
            <li>
                <a href="{{ url_for('main.intel') }}"><img src="../../../static/apple_intel.jpg" width="300"
                height="200"><font color="#000000">{{ _('Intel被淡出？傳明年出貨Mac機改用自家處理器 ') }}</font></a>
            </li>
        </h3>
    </ul>
{% endblock %}