{% extends "base.html" %}
{% block current_app_content %}
    <h1>IT Time: 獨家情報</h1>
    <ul><h3>
        <li><a href="{{ url_for('main.vm') }}"> <img src="../../../static/vm.png"
                width="300" height="200"><font color="#000000">{{ _('VMware：加速改造應用 K8s 普及在望 ') }}</font></a></li>
        <br>

        <li><a href="{{ url_for('main.wifi') }}"><img src="../../../static/wifi.jpg"
                width="300" height="200"><font color="#000000">{{ _('Wi-Fi 6E登場 增1.2 GHz可用頻寬 ') }}</font></a></li>
    </h3><br>
    </ul>
{% endblock %}