{% extends "base.html" %}
{% block current_app_content %}
    <h1>葵興港鐵站出現「未來戰士」裸男？ 乘客繼續淡定玩手機</h1>
    <br>
    <img src="{{ url_for('static', filename='FW.jpg') }}">
    <br>
    <h3><a><font color="#000000">網絡上不時都有戲言，如果怎樣怎樣就在某處裸跑。今日晚上有讀者在葵興港鐵站，發現一名全身裸露的男子。之後男子入站後走進車卡，乘坐港鐡前往荃灣方向。
    </font></a>
        <br>
        <br>
         <li>有讀者在葵興港鐵站，發現一名全身裸露的男子</li>
         <li>男子入站後走進車卡，乘坐港鐡前往荃灣方向</li>
         <li>其他乘客表現相當淡定，當中不少繼續玩手機</li>
        <p align="center"><img src="{{ url_for('static', filename='FW1.jpg') }}"></p>
        <br>
        <a><font color="#000000">有讀者來相，指今晚在葵興港鐵站發現一名全身裸露的男子。從相片可見，該名男子入站後，乘扶身電梯上月台等待列車。之後男子走進車廂，但沒有坐下。跟男最近座位，雖然沒有人坐，但在稍遠的位置，其他乘客表現相當淡定，當中不少繼續玩手機，似乎沒有太理會該名裸男。</font></a><br>

        <br><br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a>
        <br>
        <a href="#"><font color="#9966ff">{{ _('...') }}</font></a></h3>
{% endblock %}