{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='ez.css') }}"/>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.ez') }}">E-zone</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav">
                    <li><a href="{{ url_for('main.flous') }}"><font color="#0066ff">{{ _('Follow us') }}</font></a></li>
                    <li><a class="nav-link" href="{{ url_for('main.tf', st_category='科技焦點', nd_category='None', table='TF') }}">{{ _('科技焦點') }}</a></li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='科技焦點', nd_category='手機消息', table='TF') }}">{{ _('手機消息') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='科技焦點', nd_category='電腦消息', table='TF') }}">{{ _('電腦消息') }}</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="{{ url_for('main.tf', st_category='網絡生活', nd_category='None', table='NET') }}">{{ _('網絡生活') }}</a></li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='網絡生活', nd_category='網絡熱話', table='NET') }}">{{ _('網絡熱話') }}</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='網絡生活', nd_category='生活情報', table='NET') }}">{{ _('生活情報') }}</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="{{ url_for('main.tf', st_category='遊戲動漫', nd_category='None', table='ANI') }}">{{ _('遊戲動漫') }}</a></li>
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='遊戲動漫', nd_category='電競遊戲', table='ANI') }}">{{ _('電競遊戲') }}</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='遊戲動漫', nd_category='動漫玩具', table='ANI') }}">{{ _('動漫玩具') }}</a></li>
                            </ul>
                        </li>
                    <li><a class="nav-link" href="{{ url_for('main.tf', st_category='教學評測', nd_category='None', table='EVA') }}">{{ _('教學評測') }}</a></li>
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='教學評測', nd_category='應用秘技', table='EVA') }}">{{ _('應用秘技') }}</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='教學評測', nd_category='新品測試', table='EVA') }}">{{ _('新品測試') }}</a></li>
                            </ul>
                        </li>
                    <li><a class="nav-link" href="{{ url_for('main.tf', st_category='IT Times', nd_category='None', table='ITT') }}">{{ _('IT Times') }}</a></li>
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='IT Times', nd_category='最新消息', table='ITT') }}">{{ _('最新消息') }}</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.tf', st_category='IT Times', nd_category='獨家情報', table='ITT') }}">{{ _('獨家情報') }}</a></li>
                            </ul>
                        </li>
                    <li><a class="nav-link" href="{{ url_for('main.tf', st_category='活動獎賞', nd_category='None', table='RW') }}">{{ _('活動獎賞') }}</a></li>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">{{ _('登入討論區') }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.index') }}">{{ _('留言板') }}</a></li>
                        <li><a href="{{ url_for('main.explore') }}">{{ _('個人紀錄') }}</a></li>
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('個人檔案') }}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">{{ _('登出') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# current_application content needs to be provided in the current_app_content block #}
        {% block current_app_content %}{% endblock %}
    </div>
    {% block footer %}
        <footer class="footer-custom">
            <div class="container">
                <div class="col-md-2 col-xs-6">
                    <h3>
                        <a href="{{ url_for('main.tf', st_category='科技焦點', nd_category='None', table='TF') }}">{{ _('科技焦點') }}</a>
                    </h3>
                    <ul>
                        <li><a href="{{ url_for('main.tf', st_category='科技焦點', nd_category='手機消息', table='TF') }}">{{ _('手機消息') }}</a></li>
                        <li><a href="{{ url_for('main.tf', st_category='科技焦點', nd_category='電腦消息', table='TF') }}">{{ _('電腦消息') }}</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h3>
                        <a href="{{ url_for('main.tf', st_category='網絡生活', nd_category='None', table='NET') }}">{{ _('網絡生活') }}</a>
                    </h3>
                    <ul>
                        <li><a href="{{ url_for('main.tf', st_category='網絡生活', nd_category='網絡熱話', table='NET') }}">{{ _('網絡熱話') }}</a></li>
                        <li><a href="{{ url_for('main.tf', st_category='網絡生活', nd_category='生活情報', table='NET') }}">{{ _('生活情報') }}</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h3>
                        <a href="{{ url_for('main.tf', st_category='遊戲動漫', nd_category='None', table='ANI') }}">{{ _('遊戲動漫') }}</a>
                    </h3>
                    <ul>
                        <li><a href="{{ url_for('main.tf', st_category='遊戲動漫', nd_category='電競遊戲', table='ANI') }}">{{ _('電競遊戲') }}</a></li>
                        <li><a href="{{ url_for('main.tf', st_category='遊戲動漫', nd_category='動漫玩具', table='ANI') }}">{{ _('動漫玩具') }}</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h3>
                        <a href="{{ url_for('main.tf', st_category='教學評測', nd_category='None', table='EVA') }}">{{ _('教學評測') }}</a>
                    </h3>
                    <ul>
                        <li><a href="{{ url_for('main.tf', st_category='教學評測', nd_category='應用秘技', table='EVA') }}">{{ _('應用秘技') }}</a></li>
                        <li><a href="{{ url_for('main.tf', st_category='教學評測', nd_category='新品測試', table='EVA') }}">{{ _('新品測試') }}</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h3>
                        <a href="{{ url_for('main.tf', st_category='IT Times', nd_category='None', table='ITT') }}">{{ _('IT Times') }}</a>
                    </h3>
                    <ul>
                        <li><a href="{{ url_for('main.tf', st_category='IT Times', nd_category='最新消息', table='ITT') }}">{{ _('最新消息') }}</a></li>
                        <li><a href="{{ url_for('main.tf', st_category='IT Times', nd_category='獨家情報', table='ITT') }}">{{ _('獨家情報') }}</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock footer %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}