{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}"/>
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.ez') }}">E-zone</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav">
                    <li><a href="{{ url_for('main.ez') }}"><font color="#0066ff">{{ _('Follow us') }}</font></a></li>
                    <li><a class="nav-link" href="#">{{ _('科技焦點') }}</a></li>
                    <li class="nav-item dropdown">
                        <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('main.phone') }}">手機消息</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.pcnew') }}">電腦消息</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('main.animax') }}">{{ _('遊戲動漫') }}</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="gg" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                            {{ _('IT Times') }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="gg">
                            <a class="dropdown-item" href="{{ url_for('main.ittnew') }}">最新消息</a>
                            <a class="dropdown-item" href="{{ url_for('main.ittonly') }}">獨家情報</a>
                        </div>
                    </li>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">{{ _('登入討論區') }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.index') }}">{{ _('留言板') }}</a></li>
                        <li><a href="{{ url_for('main.explore') }}">{{ _('個人紀錄') }}</a></li>
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('個人檔案') }}</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">{{ _('登出') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# current_application content needs to be provided in the current_app_content block #}
        {% block current_app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}