{% extends "base.html" %}

{% block title %}
    {% if nd_cat == 'None' %}
        {{ title }} - {{ st_cat }}
    {% else %}
        {{ title }} - {{ nd_cat }}
    {% endif %}
{% endblock %}

{% block current_app_content %}
    {% if nd_cat == 'None' %}
        <h1>{{ st_cat }}</h1>
    {% else %}
        <h1>{{ st_cat }}: {{ nd_cat }}</h1>
    {% endif %}
    {% for one in all %}
        {% if table == 'TF' %}
            <p><img src="{{ url_for('static', filename=one.TF.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(one.TF.url) }}"><font color="#000000">{{ one.TF.title }}</font></a></h3>
        {% elif table == 'NET' %}
            <p><img src="{{ url_for('static', filename=one.NET.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(one.NET.url) }}"><font color="#000000">{{ one.NET.title }}</font></a></h3>
        {% elif table == 'ANI' %}
            <p><img src="{{ url_for('static', filename=one.ANI.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(one.ANI.url) }}"><font color="#000000">{{ one.ANI.title }}</font></a></h3>
        {% elif table == 'EVA' %}
            <p><img src="{{ url_for('static', filename=one.EVA.picture) }}" width="300" height="300"></p>
            <h3><a href="{{ url_for(one.EVA.url) }}"><font color="#000000">{{ one.EVA.title }}</font></a></h3>
        {% elif table == 'ITT' %}
            <p><img src="{{ url_for('static', filename=one.ITT.picture) }}" width="300" height="300"></p>
            <h3><a href="{{ url_for(one.ITT.url) }}"><font color="#000000">{{ one.ITT.title }}</font></a></h3>
        {% endif %}
    {% endfor %}
{% endblock %}