{% extends "base.html" %}

{% block title %}
    {% if nd_cat == 'None' %}
        {{ title }} - {{ st_cat }}
    {% else %}
        {{ title }} - {{ nd_cat }}
    {% endif %}
{% endblock %}

{% block current_app_content %}
    {% if nd_cat == 'None' %}
        <h1>{{ st_cat }}</h1>
    {% else %}
        <h1>{{ st_cat }}: {{ nd_cat }}</h1>
    {% endif %}
    {% for new in news %}
        {% if table == 'TF' %}
            <p><img src="{{ url_for('static', filename=new.TF.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(new.TF.url) }}"><font color="#000000">{{ new.TF.title }}</font></a></h3>
        {% elif table == 'NET' %}
            <p><img src="{{ url_for('static', filename=new.NET.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(new.NET.url) }}"><font color="#000000">{{ new.NET.title }}</font></a></h3>
        {% elif table == 'ANI' %}
            <p><img src="{{ url_for('static', filename=new.ANI.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(new.ANI.url) }}"><font color="#000000">{{ new.ANI.title }}</font></a></h3>
        {% elif table == 'EVA' %}
            <p><img src="{{ url_for('static', filename=new.EVA.picture) }}" width="300" height="300"></p>
            <h3><a href="{{ url_for(new.EVA.url) }}"><font color="#000000">{{ new.EVA.title }}</font></a></h3>
        {% elif table == 'ITT' %}
            <p><img src="{{ url_for('static', filename=new.ITT.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(new.ITT.url) }}"><font color="#000000">{{ new.ITT.title }}</font></a></h3>
        {% else %}
            <p><img src="{{ url_for('static', filename=new.RW.picture) }}" width="300" height="200"></p>
            <h3><a href="{{ url_for(new.RW.url) }}"><font color="#000000">{{ new.RW.title }}</font></a></h3>
        {% endif %}
    {% endfor %}
{% endblock %}